* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #6322cc;
    font-family: "Poppins", sans-serif;
    color: #585858;
    -webkit-font-smoothing: antialiased, !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    transform-style: preserve-3d;
    width: 100%;
    max-width: 900px;
    height: 380px;
    margin: 100px auto;
    padding: 20px 20px 10px 20px;
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 5px 5px #2c2b2b, 0px 0px 5px #2c2b2b;
    border-radius: 5px;
    opacity: 90%;
}

.card-sidebar {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border-right: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
    text-align: center;
}

.card-sidebar img {
    width: 100px;
    height: 100px;
}

.card-sidebar-header {
    font-size: 20px;
}

.card-sidebar-header img {
    border-radius: 50%;
}

.card-sidebar-body {
    height: 100%;
    max-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    text-align: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-sidebar-footer {
    height: 100%;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-sidebar-footer a {
    width: 100%;
    padding: 6px 6px;
    background: none;
    border: none;
    text-decoration: none;
    box-shadow: 0px 4px 10px #00000033;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
}

.card-sidebar-footer a:hover {
    color: #ffff;
    background-color: #793dda;
    box-shadow: 0px 4px 10px #000000;
}

.card-content {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    padding: 2rem 0rem;
    font-weight: lighter;
    transition: all 0.75s ease-out;
    overflow-y: auto;
}